@{ 
    ViewBag.Title = "首页";
    ViewBag.Current = "home";
}

@section Navigator {
    <div class="columns">
        <div class="location-path">
            / <a href="/">JoyOI Monitor</a> /
        </div>
        <h1 class="location-current" data-emoji-enabled="">@ViewBag.Title</h1>
    </div>
}

<div class="container">
    <div class="cont-wrap">
        @Html.Partial("_Sidebar")
        <div class="grid_9">
            <div class="cont-body">
                欢迎您使用Joy OI监控中心
            </div>
        </div>
    </div>
</div>