@{ 
    ViewBag.Title = "Hack 记录统计";
    ViewBag.Current = "oj-hack";
}

@section Navigator {
    <div class="columns">
        <div class="location-path">
            / <a href="/">JoyOI Monitor</a> /
        </div>
        <h1 class="location-current" data-emoji-enabled="">@ViewBag.Title</h1>
    </div>
}

<div class="container">
    <div class="cont-wrap">
        @Html.Partial("_Sidebar")
        <div class="grid_9">
           @Html.Partial("_Chart", new ChartMeta
           {
               Id = "judge_results",
               Url = "/OnlineJudge/Hack/Chart"
           })
        </div>
    </div>
</div>