@{ 
    ViewBag.Title = "二进制存储";
}

@section Navigator {
    <div class="columns">
        <div class="location-path">
            / <a href="/">JoyOI Monitor</a> /
        </div>
        <h1 class="location-current" data-emoji-enabled="">@ViewBag.Title</h1>
    </div>
}

<div class="container">
    <div class="cont-wrap">
        @Html.Partial("_Sidebar")
        <div class="grid_9">
           @Html.Partial("_Chart", new ChartMeta
           {
               Id = "blob_creation",
               Url = "/ManagementService/Blob/Created"
           })
        </div>
    </div>
</div>