@model ChartMeta

@{ 
    string id = Model.Id;
    string url = Model.Url;
    string canvas_id = id + "_canvas";
    string time_range_id = id + "_time_range";
    string load_chart_func_name = "load_chart_for_" + id;
    string chart_instance = "chart_" + id;
}

<div class="well">
    <select class="pull-right" id="@time_range_id" onchange="@load_chart_func_name ()">
        <option value="60">一分钟</option>
        <option value="300">五分钟</option>
        <option value="1800">半小时</option>
        <option value="3600">一小时</option>
        <option value="21600">6小时</option>
        <option value="43200">12小时</option>
        <option value="86400">一天</option>
        <option value="604800">一周</option>
        <option value="2592000">30天</option>
    </select>
    <canvas id="@canvas_id"></canvas>
</div>
<script>
    var @chart_instance = null;
    function @load_chart_func_name () {
        let range = Number($("#@time_range_id").val());
        let end = Math.floor(new Date().getTime() / 1000);
        let start = end - range;
        let points = 60;
        let interval = Math.floor(range / points);
        if (@chart_instance != null) {
            @chart_instance .destroy();
        }
        $.get(
            "@url?start=" + start + "&end=" + end + "&interval=" + interval,
            function (data) {
                var ctx = document.getElementById("@canvas_id").getContext('2d');
                @chart_instance = new Chart(ctx, data);
            }
        )
    }
    $(document).ready(function () {
        @load_chart_func_name ()
    })
</script>