<div class="grid_3">
    <div class="sidebar-section ">
        <a class="sidebar-section-button active" href="/">
            <i class="fa fa-dashboard"></i>
            <span>仪表盘</span>
        </a>
        <a class="sidebar-section-button active-uplevel" href="#">
            <i class="fa fa-chain"></i>
            <span>Mgmt Svc</span>
            <i class="fa fa-angle-down sidebar-uplevel"></i>
        </a>
        <a class="sidebar-section-button nested" href="/ManagementService/StateMachine">
            <span>状态机统计</span>
        </a>
        <a class="sidebar-section-button nested" href="/ManagementService/Blob">
            <span>Blob统计</span>
        </a>
        <a class="sidebar-section-button active-uplevel" href="#">
            <i class="fa fa-chain"></i>
            <span>用户中心统计</span>
            <i class="fa fa-angle-down sidebar-uplevel"></i>
        </a>
        <a class="sidebar-section-button nested" href="/UserCenter/UserActive">
            <span>用户活动统计</span>
        </a>
        <a class="sidebar-section-button nested" href="/UserCenter/UserRegister">
            <span>用户注册统计</span>
        </a>
        <a class="sidebar-section-button active-uplevel" href="#">
            <i class="fa fa-chain"></i>
            <span>Online Judge</span>
            <i class="fa fa-angle-down sidebar-uplevel"></i>
        </a>
        <a class="sidebar-section-button nested" href="/OnlineJudge/Judge">
            <span>评测记录统计</span>
        </a>
        <a class="sidebar-section-button nested" href="/OnlineJudge/Hack">
            <span>Hack记录统计</span>
        </a>
        <a class="sidebar-section-button nested" href="/OnlineJudge/Contest">
            <span>比赛统计</span>
        </a>
        <a class="sidebar-section-button active-uplevel" href="#">
            <i class="fa fa-chain"></i>
            <span>论坛</span>
            <i class="fa fa-angle-down sidebar-uplevel"></i>
        </a>
        <a class="sidebar-section-button nested" href="/Forum/NewThread">
            <span>发表主题</span>
        </a>
        <a class="sidebar-section-button nested" href="/Forum/NewReply">
            <span>回复统计</span>
        </a>
        <a class="sidebar-section-button active-uplevel" href="#">
            <i class="fa fa-chain"></i>
            <span>个人空间</span>
            <i class="fa fa-angle-down sidebar-uplevel"></i>
        </a>
        <a class="sidebar-section-button nested" href="/Blog/Article">
            <span>文章统计</span>
        </a>
    </div>
</div>
