@{ 
    ViewBag.Title = "新文章";
    ViewBag.Current = "blog-post";
}

@section Navigator {
    <div class="columns">
        <div class="location-path">
            / <a href="/">JoyOI Monitor</a> /
        </div>
        <h1 class="location-current" data-emoji-enabled="">@ViewBag.Title</h1>
    </div>
}

<div class="container">
    <div class="cont-wrap">
        @Html.Partial("_Sidebar")
        <div class="grid_9">
         @Html.Partial("_Chart", new ChartMeta
         {
             Id = "new_thread",
             Url = "/Blog/NewArticle/Chart"
         })
        </div>
    </div>
</div>